.search {
  align-self: flex-start;
  flex-grow: 1;
  margin: 100px 100px;
  display: flex;
  align-content: space-between;
  justify-content: space-around;
}

.lang {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 25px;
}

.floorButtons {
  display: flex;
  justify-content: center;
}

.app {
  height: 110%;
  background: rgb(242, 69, 0);
  background: -moz-linear-gradient(
    0deg,
    rgba(242, 69, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(242, 69, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(242, 69, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
